#blog-post-title {
  font-size: 2em;
  margin: 0;
}
#blog-date {
  font-size: 0.7em;
  margin: 0;
  font-weight: 500;
}
.blog-subheading {
  font-size: 1.6em;
}
.blog-post-info {
  font-size: 0.8em;
  margin: 0.5em auto;
  font-weight: 500;
}

.blog-image {
  width: 100%;
  height: 300px;
  border-radius: 0.25em;
}
#img-caption {
  font-size: 0.5em;
}

.btns {
  display: flex;
  justify-content: center;
  margin: auto 20%;
}
.btn-right {
  margin-left: 5%;
}

.btn-left {
  margin-right: 5%;
  color: #61714d;
}

#quote {
  color: #6d152b;
  font-weight: 600;
}

/* #61714d
#c2a887
#dfaf5e
#8fae93
#6d152b
#fafafa */

@media (min-width: 760px) {
  main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
    grid-gap: 2em;
    /* grid-template-areas: top  bottom; */
  }
}

@media (min-width: 1000px) {
  main {
    grid-template-columns: 60% 35%;
    grid-template-rows: 100% 100%;
    grid-gap: 2em;
    margin-left: 2.5%;
    /* grid-template-areas: top  bottom; */
  }
}
