@import url("./card.css");
@import url("./blog.css");
@import url("./footer.css");

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  margin: 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.8em;
}
p {
  font-size: 1em;
  line-height: 1.5em;
}

button {
  width: 8em;
  height: 4em;
  border: none;
  border-radius: 1em;
  color: #fafafa;
  font-size: 0.8em;
  background-color: #6d152b;
  font-weight: 500;
}

#logo {
  display: block;
  font-size: 1.5em;
  text-align: center;
  background-color: #6d152b;
  color: #fafafa;
  padding: 1em 0em;
}

.side-bar {
  list-style-type: none;
  background-color: #c2a887;
  padding: 1em 0.5em;
}
.side-bar a {
  text-decoration: none;
  color: #fafafa;
  display: block;
  line-height: 2em;
  font-weight: 600;
}
.intro {
  text-align: center;
  font-size: 0.75em;
  padding: 0.5em 1em;
}

@media (min-width: 760px) {
  .home-main {
    display: flex;
  }
  .left-home {
    flex-basis: 30%;
  }
  .side-bar a {
    line-height: 2em;
    font-size: 0.75em;
  }
  .side-bar {
    height: 100%;
  }

  
}

/* #61714d
#c2a887
#dfaf5e
#8fae93
#6d152b
#fafafa */
